@model IEnumerable<Vidly.Models.Customer>
@*
    just a quick list to show the layout,
    later replacing it with a database structure

    
*@
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>Aint No customers Chieef</p>
}
else
{
    <table class ="table table-bordered table-responsive">
        <thead>
        <tr>
            <th>Customers</th>
            <td>Discount Rate</td>
            <td>MemebershipType</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
        }
        </tbody>
    </table>
}

